@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");
html {
  font-size: 14px;
  background-color: var(--main-black-color);
  font-family: "Oleo Script", cursive;
  font-family: "Allerta Stencil", sans-serif;
  /* font-family: Arial, Helvetica, sans-serif;   */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --tomato-main-color: #db1b34;
  --tomato2-main-color: #f92c47;
  --white-color: #ffffff;
  --main-bg-color: #262728;
  --table-color: #fbfbfb;
  --play-btn-color: #e7e9ee;
  --left-side-bg-color: #d1d6e1;
  --left-side-table-color: #c6c6c6;
  --main-black-color: #1d1e1f;
  --text-color: #a4aebf;
  --song-bg-color: #3e3e53;
  --box-shadow-color: #8e8e92;
}
main {
  padding: 1rem;
  color: var(--white-color);
}
section {
  width: 100%;
  padding: 0 auto;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1 {
  margin: 1rem 0;
}
/* search section */
#form {
  max-width: 600px;
  margin: 1rem 0;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--main-bg-color);
  width: 100%;
}
input {
  padding: 5px 10px;
  background-color: var(--main-bg-color);
  border: none;
  width: 85%;
  color: var(--tomato2-main-color);
}
#searchBtn,
.fa-microphone {
  background-color: var(--main-bg-color);
  padding: 5px;
  border-radius: 5px;
}

#home,
#myList {
  float: right;
  margin-left: 5px;
  color: var(--white-color);
  background-color: var(--main-bg-color);
  padding: 7px 15px;
  text-decoration: none;
  border-radius: 5px;
}
#myList,
.fa-heart {
  color: var(--tomato2-main-color);
}
.playInfo .fa-heart,
.icon-heart {
  color: var(--white-color);
  font-size: 1.8rem;
  padding: 5px;
  float: right;
  clear: both;
  margin-top: 0;
  border-radius: 15px;
  border: none;
  color: var(--white-color);
}

.playInfo .fa-heart {
  pointer-events: none;
}
.added .fa-heart {
  color: var(--tomato2-main-color);
  background-color: transparent;
}
.icon-heart,
.added {
  background-color: transparent;
}
/* first page section */
.card {
  border-radius: 5px;
  background-color: var(--main-bg-color);
  /* box-shadow: 3px 3px 8px 1px #8E8E92; */
  color: var(--white-color);
  padding-left: 20px;
  margin: 5px;
  width: 46%;
  max-width: 465px; /* 520px; */
  min-height: 130px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.card:hover {
  transform: scale(1.02);
  transition: 0.5s ease;
  opacity: 0.5;
}
/* result of search section */
.result {
  /* font-family: "Muli", sans-serif; */
  overflow: hidden;
  margin: 0 auto;
}
.result h1 {
  text-align: center;
}
.container {
  width: 100%;
  display: flex;
  /* padding: 0 20px; */
  flex-direction: column;
}
.slide {
  height: 15vh;
  width: 100%;
  border-radius: 10px;
  margin: 5px 0;
  cursor: pointer;
  color: #fff;
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
  overflow: hidden;
}
.slide .info {
  position: absolute;
  font-size: 1.2rem;
  /* text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5); */
  top: 5%;
  left: 3%;
  margin: 0;
  opacity: 1;
  color: #db1b34;
}

.slide .playInfo {
  pointer-events: none;
  position: absolute;
  width: 85%;
  font-size: 1rem;
  /* bottom: 5%; */
  top: 78%;
  left: 10%;
  margin: 0;
  opacity: 0;
}
.slide.active {
  flex-grow: 10;
  height: 70vh;
}
.slide.active .playInfo {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
  pointer-events: auto;
}
.slide audio {
  width: 90%;
}
button {
  font-size: 1rem;
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 15px;
  border: none;
  color: var(--white-color);
  background-color: var(--tomato2-main-color);
}
button:hover {
  color: var(--table-color);
  background-color: var(--tomato-main-color);
}
.slide .middle {
  top: 73%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0;
}
.slide.active .middle {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
  pointer-events: auto;
}
/* next prev button section */
.btn {
  display: none;
  text-align: center;
}
.btn button {
  display: inline-block;
}
/* showLyrics section */
#showLyrics {
  /* font-family: "Muli", sans-serif; */
  color: var(--white-color);
  text-decoration: none;
  display: none;
  line-height: 1.5;
  position: fixed;
  z-index: 1;
  left: 5%;
  top: 5%;
  max-height: 90%;
  width: 90%;
  padding: 2rem;
  overflow: auto;
  background-color: var(--main-bg-color);
  opacity: 0.95;
}
.closeBtn {
  color: var(--play-btn-color);
  float: right;
  padding-left: 1rem;
  font-size: 2rem;
}
.closeBtn:hover,
.closeBtn:focus {
  color: var(--tomato-main-color);
  text-decoration: none;
  cursor: pointer;
}
/* play music animation */
.bar {
  width: 10px;
  height: 70px;
  margin-left: 2px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: 5px 10px 20px inset rgba(255, 23, 25.2);
  animation: loader 1.2s linear infinite;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    /* background: ; */
  }
  50% {
    transform: scaleY(1);
    background: rgb(111, 112, 110);
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}
.favorite-songs {
  font-size: 1.5rem;
}
.clearfix {
  clear: left;
  overflow: auto;
  padding: 10px;
}
.favorite-songs audio {
  width: 90%;
}
.favorite-songs img {
  float: left;
  padding-right: 10px;
  cursor: pointer;
}
.favorite-songs span {
  pointer-events: none;
}
#getlyrics {
  color: var(--tomato-main-color);
  font-size: 3rem;
  margin: 5px 10px;
}
@media (min-width: 850px) {
  html {
    font-size: 18px;
  }
  main {
    max-width: 1800px;
    padding: 2rem;
    margin: 0 auto;
  }
  .card {
    width: 32%;
    max-width: 520px;
  }
  .container {
    padding: 0 20px;
    flex-direction: row;
  }
  .slide {
    height: 80vh;
    margin: 5px;
    flex: 2;
  }
  .slide .info {
    transform-origin: 0 0;
    transform: rotate(-90deg);
    line-height: 1;
    top: 95%;
    left: 1%;
    width: 500px;
    text-align: left;
  }
  .slide.active .info {
    transform: rotate(0);
    line-height: 1.3;
    top: 5%;
    left: 3%;
  }
  .slide.active {
    flex: 10;
    height: 80vh;
  }
  .slide.active .playInfo {
    width: 85%;
  }
  .slide button {
    float: right;
  }
  audio {
    width: 70%;
  }
  .slide .middle {
    top: 73%;
    left: 40%;
    display: flex;
    transform: translate(-50%, -50%);
    position: absolute;
    opacity: 0;
  }
  #showLyrics {
    left: 75%;
    top: 0;
    max-height: 100%;
    width: 25%;
    opacity: 0.9;
  }
  .favorite-songs audio {
    width: 25%;
  }
}
